<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tabbed application add work list.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04CAB17C1D7B1FF8000C612F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CAB1921D7B1FF8000C612F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CAB19D1D7B1FF8000C612F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
